@import url('https://rsms.me/inter/inter.css');

html, body {
    color: white;
    background-color: rgb(43, 43, 43);
    font-family: 'Inter', sans-serif;
    font-size: large;
    padding: 0;
    margin: 0;
  }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
  
  h1{
    font-size: x-large;
  }

  code{
    background-color: rgba(238, 238, 238, 0.884);
    font-weight: bold;
    color: black;
  }

  .suppr {
    visibility: hidden;
    opacity: 0;
    transform: scale(.5), ;
  }

  code:hover{
    transition: .3s ease-out;
    background-color: rgb(95, 95, 95);
    content: 'Cliquer pour insérer dans la zone de texte';
    color: white;
  }

  textarea{
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    border-style: inset;
    border-color: lightslategrey;
    font-size: 14px;
  }
  
  body {
    padding: 50px 10%;
  }
  
  button {
    background-color: #2E638E;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    box-shadow: 2px 2px 0 darkgray;
    transition: opacity .4s ease-out, transform .4s ease-out, visibility .4s ease-out;
    position: relative;
    top: -10px;
  }
  
  button:hover {
    background-color: rgb(63, 156, 98);
    transition: opacity .6s ease-in;
  }
  
  button:active {
    background-color: rgba(68, 127, 214, 0.9);
    box-shadow: none;
    position: relative;
    top: -8px;
    left: 2px;
  }
  
  footer{
    text-align: center;
    padding:5%;
    position: fixed;
  }

  div p .balise { 
    font-family: 'Muli', sans-serif; 
    margin-bottom: 15px; 
    border-bottom: 2px;
    border-bottom-style: dotted;
    border-bottom-color: white;
  }

  a{
    color:grey;
    text-decoration: none;
  }

  #some-element {
    border: 1px solid #ccc;
    color: rgba(255, 255, 255, 0.705);
    border-radius: 15px;
    display: none;
    font-size: 12px;
    margin-top: 10px;
    padding: 5px;
    text-transform: uppercase;
  }
  
  #some-div:hover #some-element {
    display: block;
  }